.container
  .panel.panel-default
    %h3.panel-heading
      Datos del candidato
      -if is_admin
        %a.btn.btn-primary.pull-right{href:"/candidates/#{@candidate.id}/edit"}
          %span.glyphicon.glyphicon-pencil{"aria-hidden"=>"true"}
          Editar
    .row
      .col-md-8
        .panel-body
          %ul.list-group
            %li.list-group-item
              %b
                Nombre:
              =@candidate.name
            %li.list-group-item
              %b
                Grado académico:
              =@candidate.degree
            %li.list-group-item
              %b
                Email:
              =@candidate.email
            %li.list-group-item
              %b
                Departamento:
              =@candidate.department.name
            %li.list-group-item
              %b
                Nivel:
              =@candidate.level.full_name
            %li.list-group-item
              %b
                Actividades a realizar:
              =@candidate.function

      .col-md-4.text-center{style:'height: 100%; color: #E3E3E3;'}
        .thumbnail{style:'height: 100%'}


          %a.btn{href:"#{@candidate.curriculum_url}"}
            %span.glyphicon.glyphicon-briefcase{"aria-hidden"=>true, style:'font-size: 90px; margin-top:12px;'}
            %br
            Curriculum

.container
  .panel.panel-default
    %h3.panel-heading
      Selección de nivel
    .panel-body
      %ul.list-group
        %li.list-group-item
          %table.table.table-striped
            %thead
              %th
                %span.glyphicon.glyphicon-user
              %th
                Miembro del comité
              %th
                Nivel elegido
              %th
                Comentarios
            %tbody
              -@committee_members.each do |member|
                %tr
                  %td
                    =image_tag "http://cimav.edu.mx/foto/#{member.email[/[^@]+/]}/50", class:'img-circle', alt:'*'
                  %td
                    =member.name
                  %td
                    -response = Response.where(:user_id => member.id).where(:candidate_id => @candidate.id)
                    -if response.size > 0
                      =response.first.level.full_name
                    -else
                      = "---"
                  %td
                    -if response.size >0
                      =response.first.comments
                    -else
                      = "---"
.container
  -if current_user.user_type == User::COMMITTEE
    -if Response.where(:user_id => current_user.id).where(:candidate_id => @candidate.id).size == 0
      =render partial:'response'
