!!!
%html
  %head
    %title= @page_title
    = stylesheet_link_tag    "application"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body#body-login
    #container-login
      = yield
.clearfix